@charset "UTF-8";
$primary: #206A2B !default;
$link: #E7A908;
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/utilities";
body {
    background: url(../imagens/icones_eleicoes/bg-eleicoes.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.eleicoes {
    padding: 30px 0 30px 0;
}

.faixa-rodape {
    min-height: 10px;
}

.card-deck {
    margin-bottom: 20px;
    .card {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        .h3,
        h3 {
            color: $primary;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 24px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0;
            a {
                color: $primary;
                &:hover {
                    color: $link;
                }
            }
        }
        p {
            color: $gray-700;
            line-height: 14px;
            margin-top: 5px;
            margin-bottom: 0;
            a {
                color: $gray-700;
                &:hover {
                    color: $link;
                }
            }
        }
    }
}

@media screen and (max-width: 834px) {
    .card-deck {
        margin-bottom: 5px;
    }
    h3 {
        font-size: 16px !important;
        line-height: 18px !important;
    }
    p {
        font-size: 12px;
        line-height: 14px;
        margin-top: 2px !important;
        margin-bottom: 5px;
    }
    figure{
        padding: 20px;

    }
}