#destaque-tema {
  margin-top: 15px;

  .destaque-tema {
    @include elemento(linha) {
      align-items: stretch;
    }
    @include item(item) {
      background-color: $cinza-azulado;

      @include media-breakpoint-up(xs) {
        @include make-col-ready();
        @include make-col(12);

        padding-top: 10px;
        padding-bottom: 10px;

        &:first-of-type {
          padding-top: 10px;
        }

        &:last-of-type {
          padding-bottom: 10px;
        }
      }

      @include media-breakpoint-up(lg) {
        @include make-col-ready(10px);
        @include make-col(4);

        flex: 1;

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
        }
      }
    }

    @include elemento(card) {
      @include card;
      border-radius: $radius;
      border: 15px solid $branco;
      height: 100%
    }

    @include elemento(card-header) {
      @include card-header;
      border-bottom: 1px solid $cinza-claro;
      padding: 20px 0 12px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $branco;

      span {
        font-size: 22px;
        font-weight: bold;
        color: #737272;
      }
    }

    @include elemento(list) {
      @include list-group;

      @include item(item) {
        @include list-group-item;
        font-size: 16px;
        border-color: $cinza-claro;
        padding: 0.25rem 1rem;
      }
    }
  }
}
