.je-breadcrumb-result {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: $line-height-computed;
    list-style: none;
    background-color: $breadcrumb-bg;
    border-radius: $border-radius-base;
    >li {
        display: inline-block;
        +li:before {
            // [converter] Workaround for https://github.com/sass/libsass/issues/1115
            $nbsp: "\00a0";
            content: "#{$breadcrumb-separator}#{$nbsp}"; // Unicode space added since inline-block means non-collapsing white-space
            padding: 0 5px;
            color: $breadcrumb-color;
        }
    }
    >.active {
        color: $breadcrumb-active-color;
    }
}

.js-jeDataAtualizacao {
    font-size: 13px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 15px;
}

.je-nav-tags {
    span+span {
        &::before {
            content: " | ";
            padding-right: 3px;
            padding-left: 3px;
        }
    }
}