$sidebar-bg-color: lighten($global-bg, 40%);
$titulos-header-style: uppercase;
$titulos-header-color: $brand-primary;
$body-bg: #fff;
$bg-color-master:$body-bg;
$altura:10px;
$cor:#c5c5c5;
$chart-bg-accent: $table-bg-accent;