node_modules
npm-shrinkwrap.json
.git/
.yarnclean
yarn.lock
.vscode/
.sass-cache/
.gitignore
bower_modules/
assets/css/**/*.css
assets/imagens/**/*.ai
assets/imagens/**/*.eps
assets/imagens/portal-padrao/**
assets/imagens/Thumbs.db
assets/imagens/leiaute/Thumbs.db
assets/imagens/leiaute/**
portal-padrao/**
portal-padrao/
scss/portal-padrao/
.temp/**/*
.tmp/
prod/**/*
**.zip
Thumbs.db
**Thumbs.db
eleicoes/
production/
test/
**.mno
yarn-error.log
assets/css/*.css
.DS_Store
dist
