$theme-colors: (    
  'default': $cinza-azulado,  
  'azul': $azul,  
  'verde': $verde,  
  'amarelo': $amarelo,  
  'branco': $branco,  
  'cinza': $cinza,  
  'cinza-claro': $cinza-claro,  
);
@each $name,
$color in $theme-colors {  
  // start all 
  &[data-color=#{$name}],
  [data-color=#{$name}] {
    color: $color;      
  }    

  &[data-bg-color=#{$name}],
  [data-bg-color=#{$name}] {
    background-color: $color;      
  }
  .btn-next.btn-color-#{$name}::after {    
    border-color: $color;
    background-image: url('#{$path-img}/exposicao/next-arrow-#{$name}.svg');    
  }
  
  .btn-prev.btn-color-#{$name}::after {     
    border-color: $color;
    background-image: url('#{$path-img}/exposicao/prev-arrow-#{$name}.svg');    
  }
  // end all
  
  //start cards  
  .cards.card-theme-#{$name} {
    .card-carousel {     
      .owl-prev,
      .owl-next {
        &::after {          
          background-color: $color;
        }
      }      
      .owl-next::after {          
        @if $name == 'azul' {
          border: 1px solid $branco;
          background-image: url("#{$path_img}/exposicao/next-arrow-branco.svg"); 
        } @else {
          background-image: url("#{$path_img}/exposicao/next-arrow-azul.svg"); 
        }
      } 
      .owl-prev::after {
        @if $name == 'azul' {  
          border: 1px solid $branco;          
          background-image: url("#{$path_img}/exposicao/prev-arrow-branco.svg"); 
        }@else {
          background-image: url("#{$path_img}/exposicao/prev-arrow-azul.svg"); 
        }
      } 
      
      .owl-dots .owl-dot {        
        &.active span {
          background-color: $color;
        }
        span {
          background-color: lighten($color, 25%);
        }
      }
    }   
  }
  //end cards

  //start panel
  .panel__control-theme-#{$name} {
    .panel__rich-text-container .panel__rich-text + .panel__rich-text {
      // border-left-color: $color;
    }
  }  
  //end panel
  
  //start timeline
  .timeline__theme-#{$name} {   
    a.timeline-link.active::after {               
      @if $name=='azul' {
        background-color: $amarelo;        
      } @else {
        background-color: $azul;
      }                        
    }  
    
    a.timeline-link {
      @if $name=='azul' {
        color: $amarelo;
      } @else {
        color: $azul ;
      }        
    }   
    
    .timeline__content {
      @if $name == 'azul' {
        color: $branco;
      } @else {
        color: $azul;
      }
      &-link {                     
        a.timeline-link.active::after {
          @if $name == 'azul' {
            background-color: $branco;
          } @else {
            background-color: $azul;
          }  
        }
      }
    }
  }  
  //end timeline

  //start accordion
  .accordion__theme-#{$name} {
  .accordion__card,
  .accordion__card-body,
  .accordion__card-btn::after {
    background-color: lighten($color, 18%);              
  }

  .accordion__card-header {
    background-color: darken($color, 9%);                      
  }  
  .accordion__card-btn {
      &,
      &::after {
          @if $name == azul {
          color: $branco;
        } @else {
          color:$azul;
        }
      }
    }    
  }
  //end accordion
} 
