.aba-vertical-com-seta,
.leg-compilada {
    .panel-group {
        .panel-heading {
            .panel-title {
                display: flex;
                font-size: 1.2em !important;
                margin: 0;

                a {
                    position: relative;
                    padding-right: 50px;

                    @include media-breakpoint-down(lg) {
                        display: flex;
                    }

                    &[aria-expanded="true"] {

                        &:before {
                            transform: rotate(-45deg);
                        }

                        &:after {
                            transform: rotate(45deg);
                        }
                    }

                    &:before,
                    &:after {
                        content: "";
                        display: block;
                        width: 13px;
                        height: 3px;
                        background: $azul-claro;
                        position: absolute;
                        top: 15px;
                        transition: transform .5s;
                    }

                    &:before {
                        right: 19px;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        transform: rotate(45deg);
                    }

                    &:after {
                        right: 11px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .panel-body {
            @include paragrafo();
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        .panel-table {

            a {
                border: 1px solid $cinza-claro;
                border-radius: 0;
                font-weight: normal;
                margin-left: -1px;
                margin-top: -1px;

                &:hover {
                    transition: .4s;
                    background-color: $amarelo;
                    text-decoration: none;
                }
            }

            display: table;
            padding-bottom: 1rem
        }

        &:first-of-type {
            border-top: 1px solid $cinza-claro;
            margin-top: 1rem;
        }

        &:last-of-type {
            margin-bottom: 1rem;
        }

        border-bottom: 1px solid $cinza-claro;
        padding-bottom: .5rem;
        padding-top: .5rem;
    }
}

.legislacao-compilada-interna {
    table {
        .coluna-1 {
            width: 40%;
        }

        .coluna-2 {
            width: 60%;
        }

        width: 100%;
    }
}

.leg-compilada-topo {
    .leg-compilada-brasao {
        img {
            max-width: 100px;
        }

        position: absolute;
        z-index: 1;
    }

    .leg-compilada-texto {
        p {
            color: #808000;
            margin-bottom: 0 !important;
            font-size: 1em;
        }

        min-height: 100px;
        text-align: center;
        width: 100%;
        padding-top: .5rem;
    }
    
    .leg-link-texto-compilado {
        margin-top: 1rem;
        width: 100%;
    }

    .leg-compilada-titulo {
        h1 {
            font-size: 2em !important;
        }

        @include make-col(12);
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .leg-compilada-ementa {
        p {
            color: #800000;
        }

        text-align: justify;
        padding-left: 50%;
        width: 100%;
    }

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    position: relative;
}

.leg-compilada-corpo {

    h2,
    h3,
    h4 {
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        strong {
            font-size: 1em !important;
        }
    }

    text-align: justify;
}

.leg-compilada-referencia {
    p {
        color: red;
    }
}

.leg-compilada-anexos {

    h2,
    h3,
    h4 {
        text-align: center;
    }
}

.leg-compilada-revogada {
    .leg-compilada-topo {
        .leg-compilada-titulo {
            h1 {
                text-decoration: line-through;
            }
        }

        .leg-compilada-ementa {
            * {
                text-decoration: line-through;
            }
        }
    }

    .leg-compilada-corpo {
        * {
            text-decoration: line-through;
        }
    }
}