.noticia {
    @include item("titulo") {
        @include titulo-noticias;
    }

    @include item("dados") {
        @include make-col-ready(0);

        @include media-breakpoint-only(xs) {
            @include make-col(12);
            text-align: center;
            border-top: 1px solid $cinza-claro;
            border-bottom: 1px solid $cinza-claro;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        @include media-breakpoint-up(lg) {
            @include make-col(6);
        }

        .nome-autor,
        .nome-revisor {
            font-weight: bold;
        }

        color: #6B6B6B;
        font-size: .8em;


    }

    @include elemento("conteudo") {
        @include make-col-ready(0);

        #compartilhar-conteudo {
            @include media-breakpoint-up(lg) {
                @include make-col(6);
            }
        }
    }

    @include elemento("linha") {
        @include make-row(0);
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

#texto-conteudo {
    &.texto-noticias-internas {
        @include make-col-ready();
        @include make-col(8);
    }
}

#coluna-links-noticias {
    @include make-col-ready();
    @include make-col(4);
}

#barra-ferramentas-noticias {
    @include make-col-ready(0);
    @include make-col(12);

    bottom: 0;
    position: sticky;
    min-height: 50px;
    background-color: #F2F1F1;

    .links {
        .sumario {
            
        }
    }

    .progress-container {
        background-color: #BDBDBD;
        height: 4px;
        width: 100%;
    }

    .progress-bar {
        background-color: #4caf50;
        height: 4px;
        width: 0%;
    }
}

#navbarSumario {
    position: sticky;
    top: 0;
    z-index: 1000;

    .alinhar-sumario {
        position: absolute;
        left: -260px;
        width: 240px;
    }
}

.temas-tag {
    margin-bottom: 30px;

    .tags {
        list-style: none;
        margin-top: 20px;

        .tag {
            display: inline-block;

            .tag-link {
                background-color: #E5E5E5;
                border-radius: 15px;
                display: block;
                font-size: .9em;
                font-weight: bold;
                margin: 0px 10px 10px 0px;
                padding: 4px 15px;

                &:hover {
                    text-decoration: none;
                    background-color: #47C77D;
                }
            }
        }
    }
}