#navegacao-data-noticias {
    margin-top: 10px;
    margin-bottom: 10px; //Celular

    @include media-breakpoint-only(xs) {
        .form-group {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .btn {
        @include media-breakpoint-only(xs) {
            float: right;
            margin-top: 15px;
        }
    }

    #form-navagacao-noticias {
        @include media-breakpoint-only(xs) {
            * {
                font-size: .75rem;
            }
        }

        select {
            margin-right: 1em;

        }

        fieldset {
            background-color: #C2D2ED;
            padding: 4px 6px;
            border-radius: $radius;

            select {
                opacity: .7;
            }

            @include media-breakpoint-only(xs) {
                .form-control {
                    height: calc(1.5em + .5rem + 2px);
                    padding: .25rem .5rem;
                    font-size: .75rem;
                    line-height: 1.5;
                    border-radius: .2rem;
                }

                .btn {
                    display: block;
                    width: 100%;
                    margin-top: 2.5px;
                    padding: .25rem .5rem;
                    font-size: .875rem;
                    line-height: 1.5;
                    border-radius: .2rem;
                }
            }

            @include media-breakpoint-only(sm) {
                .btn {
                    margin-top: 0;
                    margin-left: 2px;
                }
            }
        }
    }

    .form-group {
        float: left;
    }
}

#conteudo-pagina {
    .embed-responsive {
        height: 280px;
        padding: 0;
        background: $thumb-bg;

        .embed-responsive-item {
            display: block;
            max-height: 100%;
            max-width: 65%;
            position: relative !important;
            margin: 0 auto;

        }
    }

    .embed-responsive-audio {
        height: auto;

        .embed-responsive-audio-item {
            width: 100%;
        }


    }
}

.imprensa {
    @include item(destaque) {
        @include card-sidebar;
    }

    @include item(contato) {
        @include card-sidebar(0);

        p {
            padding-left: 15px;
        }
    }
}

#lista-noticias {
    @include media-breakpoint-only(xs) {
        .media {
            @include make-row(0);

            a {
                @include make-col-ready(0);
                @include make-col(12);
            }

            .lr-titulo {
                margin-top: 0;
            }

            .lr-imagem {
                padding-right: 0;
                padding-top: 0;
            }

            .media-body {
                @include make-col-ready(0);
                @include make-col(12);
            }
        }
    }
}

.noticia-mais {
    margin-bottom: 30px;
}