@mixin icone ($name:'icone') {
    .#{$name} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 20%;
        margin: auto;
        width: 100%;
        $preto: #121212;
        transition: .5s all ease;
        opacity: 1;

        &.transition {
            transition: .3s all ease;
            opacity: 0;
            bottom: 150px;
        }

        @include item(play-icon) {
            filter: drop-shadow(0 1px 5px $preto);
            fill: $branco;
            width: 98%;
            height: 98%;
            transition: .4s all ease;

            path {
                stroke: $preto;
                stroke-width: .5px;
            }

            &:hover {
                transition: .4s all ease;
                width: 100%;
                height: 100%;

                path {
                    stroke-width: .8px;
                }
            }
        }
    }
}