#coluna-lateral-noticias {
  color: $gray;

  .titulo-personalizado {
    margin-bottom: 20px;
  }

  .titulo-italico {
    font-style: italic;
    font-weight: 900;
    margin: 0;
    padding: 5px 10px;
  }

  %icone-link-padrao {
    font-family: 'FontAwesome';
    top: 0;
    margin-right: 10px;
  }

  #destaques-noticias-coluna {
    @include card-sidebar;
    padding-bottom: 0;

    .nc-container {
      margin-bottom: 5px;

      .nc-imagem {
        &.img-hover {
          @include media-breakpoint-only(xs) {
            background-color: transparent;
          }

          @include media-breakpoint-up(sm) {
            background-color: transparent;
          }

          @include media-breakpoint-only(lg) {
            background-color: $brand-primary;
          }
        }

        text-align: center;
      }

      > h3 {
        padding: 10px;
        font-size: 1em;
        line-height: 1.7em;
        border-bottom: 1px solid $cinza-claro;

        a {
          color: $azul;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            color: $azul-claro;
          }
        }
      }

      h3,
      h4 {
        padding: 10px;
        font-size: 1em;
        line-height: 1.7em;
        border-bottom: 1px solid $cinza-claro;

        a {
          color: $azul;
          text-decoration: none;

          &:hover {
            color: $azul-claro;
          }
        }
      }
    }
  }

  .link-integra {
    padding-top: 15px 10px;
    color: $titulos-geral;

    &::before {
      @extend %icone-link-padrao;
    }
  }

  .titulo-com-icone {
    text-transform: uppercase;
    margin-left: 7.5px;
    margin-right: 7.5px;
    border-bottom: $cinza-claro solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-child {
      border: none;
    }

    i {
      display: inline-block;
      width: 25px;
    }

    .btn {
      padding-left: 0;
      margin-left: -8px;
    }

    a {
      font-family: sans-serif;
      font-size: 14px;
      text-decoration: none;
      color: $cinza-escuro;
      padding: 0;
      white-space: nowrap;

      &:hover {
        font-weight: bold;
        transition: 0.1ms;

        i::before {
          animation-name: transicao-cor-destaques;
          animation-duration: 0.1ms;
          background-color: $theme-color-secundario;
          border-color: $theme-color-secundario;
          border-style: solid;
          border-width: 2px;
        }
      }
    }

    i {
      margin-right: 5px;

      &:before {
        content: '';
        width: 12px;
        height: 12px;
        background-color: $cinza-claro;
        display: inline-block;
        border-radius: 10px;
        margin-left: 10px;
      }
    }
  }

  @include make-col-ready(0);

  @include media-breakpoint-up(xs) {
    @include make-col(12);
  }

  @include media-breakpoint-up(sm) {
    @include make-col(12);
  }

  @include media-breakpoint-up(md) {
    @include make-col(12);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(3);
  }
}

#contato-imprensa {
  margin-bottom: 25px;

  .tabela-cont-impr {
    @include make-col-ready();

    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }

    @include media-breakpoint-up(sm) {
      @include make-col(12);
    }

    display: table;
    margin-bottom: 20px;

    .ci-linha {
      span {
        @include make-col-ready();

        @include media-breakpoint-up(xs) {
          @include make-col(6);
        }

        @include media-breakpoint-up(sm) {
          @include make-col(6);
        }

        display: table-cell;
        padding: 2px 5px;
        vertical-align: top;
      }
    }
  }
}

#midias-noticias,
#midias-noticias-2 {
  background: $branco;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  box-shadow: none !important;
  border-bottom: none !important;

  a {
    text-decoration: none;

    &:hover {
      color: $azul-claro;
    }
  }

  .link-integra {
    text-align: center;

    a {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $amarelo-escuro;
    }
  }

  .nav-tabs {
    li {
      a {
        font-size: 1rem !important;
      }
    }
  }

  .tab-content {
    margin-bottom: 20px;
    padding-bottom: 5px;
    padding-top: 5px;

    li {
      padding-top: 10px;
      line-height: 1.5em;
      border-bottom: 1px solid $cinza-claro;
      padding-bottom: 10px;

      &:last-child {
        border-bottom: none;
      }

      span {
        font-size: 0.75rem;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        background: $cinza-claro;
        color: $cinza;
        max-width: 40%;
        border-radius: 10px;
        text-align: center;
      }

      a {
        text-decoration: none;

        &:hover {
          color: $azul-claro;
        }
      }
    }
  }

  #midia-youtube-noticias,
  #midia-flickr-noticias,
  #midia-instagram-noticias {
    iframe {
      max-width: 242px;
      height: 138px;
    }

    p {
      margin-top: 10px;
    }
  }
}

$col-xs: 12;
$col-sm: 6;
$col-md: 7;
$col-lg: 9;
$offset: 1;
$margin: 1.3%;

@mixin colunas {
  @include make-col-ready(0);

  @include media-breakpoint-up(xs) {
    @include make-col($col-xs);
    margin-top: 15px;
    order: 1;
  }

  @include media-breakpoint-up(sm) {
    @include make-col($col-sm);
    @if($offset) {
      @include make-col-offset($offset);
    }
    margin-top: 15px;
    order: 1;
  }

  @include media-breakpoint-up(md) {
    @include make-col(12 - $col-md);
    @if($offset) {
      @include make-col-offset($offset);
    }
    margin-top: 0;
    order: 0;
  }

  @include media-breakpoint-up(lg) {
    @include make-col(12 - $col-lg);
    @if($offset) {
      @include make-col-offset($offset);
    }
    margin-top: 0;
    order: 0;
  }
}

#coluna-lateral-interna,
#coluna-lateral-noticias,
#coluna-lateral-agenda,
#aside-noticias {
  @include colunas;
  
  &.listagem {        
    @include make-col-offset(0);
    padding-right: 15px;
    background-color: #fff;
  }
  &.alinhar-interna { margin-left: 0; }
}

.conteudo {
  @include modificar('coluna') {        
    @include modificar('esquerda') {
      padding-top: 7px;
      padding-bottom: 7px;
      margin-right: 0;
      margin-left: 0;
      
      @include media-breakpoint-up(xs) {
        @include make-col($col-xs);       
      }
      
      @include media-breakpoint-up(sm) {
        @include make-col($col-sm);        
      }

      @include media-breakpoint-up(md) {
        @include make-col($col-md);
        max-width: percentage($col-md / 12) - $margin;
        margin-left: $margin;
        margin-right: 0;
      }
      @include media-breakpoint-up(lg) {
        @include make-col($col-lg);
        max-width: percentage($col-lg / 12) - $margin;
        margin-left: $margin;
        margin-right: 0;
      }
    }

    @include modificar('direita') {
      padding-top: 7px;
      padding-bottom: 7px;
      margin-right: 0;
      margin-left: 0;

      @include media-breakpoint-up(xs) {
        @include make-col($col-xs);
      }

      @include media-breakpoint-up(sm) {
        @include make-col($col-sm);
      }

      @include media-breakpoint-up(md) {
        @include make-col($col-md);
        max-width: percentage($col-md / 12) - $margin;
        margin-right: $margin;
        margin-left: 0;
      }

      @include media-breakpoint-up(lg) {
        @include make-col($col-lg);
        @if($offset) {
          @include make-col-offset($offset);
        }
        
        max-width: percentage($col-lg / 12) - $margin;
        margin-right: $margin;
        margin-left: 0;                 

        &.aside-noticias-listagem {
          min-width: percentage($col-lg / 12);
          margin-right: 0;
        }        
      }
    }     
  }
}
