$link-color-home:           #6c757d;
$link-hover-color-home:     darken($link-color-home, 15%);
$link-hover-decoration:     underline !default;
$padding-base-horizontal :  6px;
$padding-x:                 $padding-base-horizontal;
$padding-base-vertical :    12px;
 $padding-y:                $padding-base-vertical;
