//replaces bootstrap
//Paths
$path_fonts:                    '../fonts';
$path_img:                      '../imagens';
$social-media-pallet:           ( facebook: #3b5999, twitter: #55acee, google-plus: #dd4b39, youtube: #cd201f, soundcloud: #ff3300, instagram: #e4405f, flickr: #ff0084, envelope: #0284c2, rss: #fb9107, ) !default;
$icones-destaques:              (video:"\f04b", audio:"\f028", foto:"\f065", youtube:"\f16a");
$branco:                        #fff;
$body-bg:                       $branco !default;
$thumb-bg:                      #F2F2F2 !default;
$border-radius-base:            0 !default;
$border-radius-large:           0 !default;
$border-radius-small:           0 !default;


// $font-size-base:16px;
$font-family:                   Helvetica,Roboto,Arial,sans-serif;
$font-family-base:              'Roboto', $font-family !default;
$font-family-base-light:        'Roboto-Light',Helvetica, $font-family !default;
$font-family-base-medium:       'Roboto-Medium',Helvetica, $font-family !default;
$font-family-base-bold:         'Roboto-bold',Helvetica, $font-family !default;
$font-family-base-italic:       'Roboto-italico',Helvetica, $font-family!default;

//== Colors
$gray-base:                     #000 !default;
$gray-darker:                   lighten($gray-base, 13.5%) !default; // #222
$gray-dark:                     lighten($gray-base, 20%) !default; // #333
$gray:                          lighten($gray-base, 33.5%) !default; // #555
$gray-light:                    lighten($gray-base, 40%) !default; // #666
$gray-light-2:                  lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:                  #F0F0F0 !default; // #f0f0f0
$gray-medium:                   lighten($gray-base, 60%) !default; // #999
$brand-primary:                 #06414F;
$brand-success:                 #4b9609 !default;
$brand-info:                    #1779ba !default;
$brand-warning:                 #f2930c !default;
$brand-danger:                  #cc4b37 !default;

//** Global textual link color.
$link-color:                    $brand-primary !default;
$link-hover-color:              darken($link-color, 15%) !default;
$zindex-dropdown-backdrop:      990 !default;
$zindex-navbar:                 1000 !default;
$zindex-dropdown:               1000 !default;
$zindex-fixed:                  1030 !default;
$zindex-sticky:                 1030 !default;
$zindex-modal-backdrop:         1040 !default;
$zindex-modal:                  1050 !default;
$zindex-popover:                1060 !default;
$zindex-tooltip:                1070 !default;
//== Buttons
$btn-font-weight:               normal !default;
$btn-default-color:             $branco !default;
$btn-default-bg:                #999 !default;
$btn-default-border:            darken($btn-default-bg, 5%) !default;
$btn-primary-color:             $branco !default;
$btn-primary-bg:                $brand-primary !default;
$btn-primary-border:            darken($btn-primary-bg, 5%) !default;
$btn-success-color:             $branco !default;
$btn-success-bg:                $brand-success !default;
$btn-success-border:            darken($btn-success-bg, 5%) !default;
$btn-info-color:                $branco !default;
$btn-info-bg:                   $brand-info !default;
$btn-info-border:               darken($btn-info-bg, 5%) !default;
$btn-warning-color:             $branco !default;
$btn-warning-bg:                $brand-warning !default;
$btn-warning-border:            darken($btn-warning-bg, 5%) !default;
$btn-danger-color:              $branco !default;
$btn-danger-bg:                 $brand-danger !default;
$btn-danger-border:             darken($btn-danger-bg, 5%) !default;
//== Forms
$input-bg:                      $branco !default;

$input-bg-disabled:             $gray-lighter !default;
$input-color:                   $gray !default;
$input-border:                  #ccc !default;
$input-border-radius:           $border-radius-base !default;
$input-border-radius-large:     $border-radius-large !default;
$input-border-radius-small:     $border-radius-small !default;
$input-border-focus:            #659072 !default;
$input-color-placeholder:       #989898 !default;
$form-group-margin-bottom:      15px !default;
$legend-color:                  $gray-dark !default;
$legend-border-color:           #e5e5e5 !default;
$input-group-addon-bg:          $gray-lighter !default;
$input-group-addon-border-color:$input-border !default;
$cursor-disabled:               not-allowed !default;
//Navbar
$navbar-margin-bottom:          0;
$nav-link-padding:              10px!default;

//global variables
$primeira-cor-bg:               rgba(0, 98, 128, 1);
$segunda-cor-bg:                rgba(113, 149, 112, 1);
$global-bg:                     $segunda-cor-bg;
$global-invert-bg:              lighten($global-bg, 45%) !default;
$global-padding:                20px!default;
$global-padding-top:            $global-padding * 2;
$global-padding-bottom:         $global-padding * 2;
$btn-action-color:              $branco !default;
$btn-action-bg:                 $segunda-cor-bg !default;
$btn-action-border:             darken($btn-action-bg, 5%) !default;
$letter-space:                  0.03em;
$titulos-geral:                 #005e7a;
$bg-geral:                      $global-bg;
$brand-action:                  $global-bg;
$label-action-bg:               $global-bg;
$font-icone:                    'FontAwesome';
$margem-icone:                  10px;
$global-label-base:             23px;
$global-margin-mobile:          30px;
$border-box-color:              lighten($gray-base, 80%) !default; // #ccc
$cor-links-internas:            $primeira-cor-bg;
$cor-do-texto-paragrafo:        $gray-dark;
$headings-font-family:          $font-family-base!default;
$headings-font-weight:          normal !default;
$headings-color:                $gray !default;
