#coluna-lateral-noticias,
#aside-noticias {
  @include make-col-ready();
  @include make-col(3);
  @include make-col-offset(2);  
  
  @include media-breakpoint-down(sm) {
    @include make-col(12);
    @include make-col-offset(0);
  }

  .lateral {
    @include elemento(gestor) {
      @include card;
      border-color: #f5f5f5;
      border-radius: $radius;
      padding: 0;
      color: silver;

      @include item(header) {
        @include card-header;
        background-color: #fff;
        border-bottom: none;
        padding: 0 15px;
      }

      @include item(title) {
        @include titulo-noticias($azul);
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          width: 10px;
          height: 10px;
          background: #47c77d;
          margin-right: 6px;
        }

        padding-top: 5px;
        padding-bottom: 5px;
      }

      @include item(informacao) {
        border-top: 1px solid $cinza-claro;
        padding: 0 15px;
      }

      .gestor-titulo {
        border-bottom: 1px solid $amarelo;

        h5 {
          padding-top: 10px;
          padding-bottom: 5px;
          font-size: 16px;
          color: $azul;
        }
      }

      .gestor-item {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $cinza-claro;

        &:last-child {
          border-bottom-color: transparent;
        }
      }
    }

    @include elemento(mais-lidas) {
      @include item(header) {
        @include card-header;
        background-color: #fff;
        border-bottom: none;
      }

      @include item (title) {
        @include titulo-noticias($azul);
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          width: 12px;
          height: 12px;
          background: #47C77D;
          margin-right: 8px;
        }
      }

      margin-bottom: 30px;
    }
  }

  .temas-tag {
    margin-bottom: 30px;

    .tags {
      list-style: none;
      margin-top: 20px;
      padding-left: 0;

      .tag {
        display: inline-block;

        .tag-link {
          background-color: #E5E5E5;
          border-radius: 15px;
          display: block;
          font-size: .9em;
          font-weight: bold;
          margin: 0px 10px 10px 0px;
          padding: 4px 15px;

          &:hover {
            text-decoration: none;
            background-color: #47C77D;
          }
        }
      }
    }
  }
}