#coluna-lateral-noticias,
#aside-noticias {
  .portletWrapper {
    background-color: $branco;
    padding-bottom: 15px;
  }

  & > .portletWrapper:nth-child(3) {
    .portlet-card .portlet-card-header {
      border-bottom-color: #ffde57;
    }
  }

  .lateral {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

    @include elemento(mais-lidas) {
      @include card;
      border-color: #f5f5f5;
      border-radius: $radius;
      padding: 0 15px;

      @include item(header) {
        @include card-header;
        background-color: $branco;
        border-bottom: none;
        padding: 5px 0 0 0;
      }

      @include item(title) {
        @include titulo-noticias($azul);
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          background: #47c77d;
          margin-right: 6px;
        }
      }

      @include item(item) {
        display: flex;
        flex-direction: column;
        justify-items: center;

        padding-top: 5px;
        padding-bottom: 5px;

        &:last-child {
          border-top: 0;
        }

        .item-carousel {
          display: flex;
          align-items: center;
          border-top: 1px solid #f5f5f5;
          flex-direction: row;
          padding-top: 10px;
          padding-bottom: 10px;
          min-height: 100px;

          .item-count {
            padding-right: 15px;

            span {
              width: 26px;
              height: 26px;
              border-radius: 50%;
              background-color: rgba(71, 199, 125, 0.2);
              color: #47c77d;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        p {
          margin-bottom: 0;

          a {
            font-size: 14px;
            color: $azul;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      > .owl-theme .owl-dots .owl-dot {
        &:hover span,
        &.active span {
          background-color: #47c77d;
        }
      }
    }

    @include elemento(ultimas) {
      @extend .lateral__mais-lidas;
      border: none;
      padding: 0;

      @include item(header) {
        @extend .lateral__mais-lidas-header;
      }

      @include item(title) {
        @extend .lateral__mais-lidas-title;
      }

      @include item(items) {
        border-top: 1px solid $cinza-claro;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
      }

      .ultimas-imagem {
        margin: 0;
        min-width: 25%;
        img {
          border-radius: $radius;
          @include img-fluid;
        }
      }
      .ultimas-titulo {
        margin: 0;
        padding-left: 10px;

        a {
          font-size: 14px;
          color: $azul;
        }
      }
    }

    @include elemento(tags) {
      @extend .lateral__mais-lidas;
      border: none;

      @include item(header) {
        @extend .lateral__mais-lidas-header;
      }

      @include item(title) {
        @extend .lateral__mais-lidas-title;
      }

      @include item(items) {
        display: block;
        .lateral__tags-item {
          margin-top: 5px;
          border-radius: $radius * 4;
          & + .lateral__tags-item {
            margin-right: 5px;
          }
        }
      }
    }

    @include elemento(gestor) {
      @extend .lateral__mais-lidas;
      padding: 0;

      @include item(header) {
        @extend .lateral__mais-lidas-header;
        padding: 0 15px;
      }

      @include item(title) {
        @extend .lateral__mais-lidas-title;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      @include item(informacao) {
        border-top: 1px solid $cinza-claro;
        padding: 0 15px;
      }

      .gestor-titulo {
        border-bottom: 1px solid $amarelo;
        h5 {
          padding-top: 10px;
          padding-bottom: 5px;
          font-size: 16px;
          color: $azul;
        }
      }
      .gestor-item {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $cinza-claro;
        &:last-child {
          border-bottom-color: transparent;
        }
      }
    }
  }
}

.portlet {
  @include item(card) {
    @include card;
    border-color: #f5f5f5;
    padding: 0 15px;
  }

  @include item(card-header) {
    @include card-header;
    @include titulo-noticias($azul);
    padding: 0;
    font-size: 20px;
    background-color: $branco;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #f5f5f5;
  }

  @include item(list-group) {
    @include list-group("flush");
  }

  @include item(list-group-item) {
    @include list-group-item;

    a {
      color: $azul;
      font-size: 16px;
    }
  }

  @include item(card-footer) {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

    a {
      font-size: 1.125rem;
      font-weight: bold;
    }
  }
}

.template-audioradio {
  .ultimas-imagem {
    max-width: 25%;
  }
  .ancora-sem-conteudo {
    .ultimas-imagem {
      max-width: 100%;
    }
  }

}
