#aside-noticias,
#coluna-lateral-noticias {
  .lateral {
    @include elemento(gestor) {
      @include card;
      border-color: #f5f5f5;
      border-radius: $radius;
      padding: 0;
      color: $cinza;

      @include item(header) {
        @include card-header;
        background-color: $branco;
        border-bottom: none;
        padding: 0 15px;
      }

      @include item(title) {
        @include titulo-noticias($azul);
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          width: 10px;
          height: 10px;
          background: #47c77d;
          margin-right: 6px;
        }

        padding-top: 5px;
        padding-bottom: 5px;
      }

      @include item(informacao) {
        border-top: 1px solid $cinza-claro;
        padding: 0 15px;
      }

      .gestor-titulo {
        border-bottom: 1px solid $amarelo;

        h5 {
          padding-top: 10px;
          padding-bottom: 5px;
          font-size: 16px;
          color: $azul;
        }
      }

      .gestor-item {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $cinza-claro;

        &:last-child {
          border-bottom-color: transparent;
        }
      }
    }

    @include elemento(mais-lidas) {
      @include item(header) {
        @include card-header;
        background-color: $branco;
        border-bottom: none;
      }

      @include item (title) {
        @include titulo-noticias($azul);
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          width: 12px;
          height: 12px;
          background: #47C77D;
          margin-right: 8px;
        }
      }

      margin-bottom: 30px;
    }
  }

  .temas-tag {
    margin-bottom: 30px;

    .tags {
      list-style: none;
      margin-top: 20px;
      padding-left: 0;

      .tag {
        display: inline-block;

        .tag-link {
          background-color: #E5E5E5;
          border-radius: 15px;
          display: block;
          font-size: .9em;
          font-weight: bold;
          margin: 0px 10px 10px 0px;
          padding: 4px 15px;

          &:hover {
            text-decoration: none;
            background-color: #47C77D;
          }
        }
      }
    }
  }
}
#aside-noticias,
#coluna-lateral-noticias {
  &.ancora-sem-conteudo {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    margin: 0;
    max-width: 100%;
    padding: 15px;

    .portletWrapper {
      flex: 1;

      .mini-banners,
      .lateral__ultimas,
      .lateral__gestor {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 10px;
      }

      .lateral__ultimas {
        flex-direction: row;

        @include media-breakpoint-only(xs) {
          flex-direction: column;
        }

        .lateral__ultimas-header {
          border-bottom: 1px solid #ebebeb;
          margin-bottom: 15px;
          padding-bottom: 15px;
          width: 100%;
        }

        .lateral__ultimas-items {
          border-top: none;
          flex: 1;
          flex-direction: column;

          .ultimas-imagem {
            img {
              max-width: 100%;
            }
          }

          .ultimas-titulo {
            padding: 10px;
          }
        }
      }

      .mini-banners {
        @include media-breakpoint-only(xs) {
          flex-direction: column;
        }

        .radio-lista {
          flex: 1 1 25%;
          max-width: 24.1%;
          @include media-breakpoint-only(md) {
            max-width: 23.9%;
          }
          @include media-breakpoint-only(sm) {
            flex: 1 1 33%;
            max-width: 32%;
          }
          @include media-breakpoint-only(xs) {
            flex: 1 1 100%;
            max-width: 100%;
          }
        }
      }

      .lateral__mais-lidas,
      .lateral__gestor {
        margin-bottom: 0;
        border: none;
      }

      .lateral__mais-lidas {
        padding-left: 0;
        
          h3 {
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 15px;
            padding-bottom: 15px;
          }
      }

      .lateral__gestor {

        margin-bottom: 50px;

        .lateral__gestor-header {
          padding-left: 0;
          width: 100%;

          .lateral__gestor-title {
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 15px;
            padding-bottom: 15px;
          }
        }
        .lateral__gestor-informacao {
          border: none;
          flex: 1;
          flex-direction: column;

          .gestor-titulo {
            width: 100%;
            display: inline-block;
        }

          .gestor-item {
            border: none;
            display: inline-block;
            width: 33%;
            padding: 10px;

            @include media-breakpoint-down(md) {
              display: block;
              width: 100%;
            }
          }
        }
      }

    }

  }
}

#ordernar-elementos {
  #aside-noticias,
  #coluna-lateral-noticias {
    order: 0;
  }

  #texto-conteudo {
    order: 1;
    max-width: 100%;
    flex: 0 0 100%;
    
    .aviso-ascom {
      min-height: 105px;
    }
  }

  #barra-ferramentas-noticias {
    order: 3;
  }
}