$abrir_sumario: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.935' height='16' viewBox='0 0 19.935 16'%3E%3Cdefs%3E%3Cstyle%3E.a,.b,.c%7Bfill:none;%7D.c%7Bstroke:%23707070;%7D.d,.e%7Bstroke:none;%7D.e%7Bfill:%23707070;%7D%3C/style%3E%3C/defs%3E%3Cg class='b' transform='translate(4.935)'%3E%3Cpath class='d' d='M0,0H15V4H0Z'/%3E%3Cpath class='e' d='M 1 1 L 1 3 L 14 3 L 14 1 L 1 1 M 0 0 L 15 0 L 15 4 L 0 4 L 0 0 Z'/%3E%3C/g%3E%3Cg class='c'%3E%3Ccircle class='d' cx='2' cy='2' r='2'/%3E%3Ccircle class='a' cx='2' cy='2' r='1.5'/%3E%3C/g%3E%3Cg class='c' transform='translate(0 6)'%3E%3Ccircle class='d' cx='2' cy='2' r='2'/%3E%3Ccircle class='a' cx='2' cy='2' r='1.5'/%3E%3C/g%3E%3Cg class='c' transform='translate(0 12)'%3E%3Ccircle class='d' cx='2' cy='2' r='2'/%3E%3Ccircle class='a' cx='2' cy='2' r='1.5'/%3E%3C/g%3E%3Cg class='b' transform='translate(4.935 6)'%3E%3Cpath class='d' d='M0,0H15V4H0Z'/%3E%3Cpath class='e' d='M 1 1 L 1 3 L 14 3 L 14 1 L 1 1 M 0 0 L 15 0 L 15 4 L 0 4 L 0 0 Z'/%3E%3C/g%3E%3Cg class='b' transform='translate(4.935 12)'%3E%3Cpath class='d' d='M0,0H15V4H0Z'/%3E%3Cpath class='e' d='M 1 1 L 1 3 L 14 3 L 14 1 L 1 1 M 0 0 L 15 0 L 15 4 L 0 4 L 0 0 Z'/%3E%3C/g%3E%3C/svg%3E";
$imprimir: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.76' height='19.76' viewBox='0 0 19.76 19.76'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%236b6b6b;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-75.483 2.582)'%3E%3Cg transform='translate(75.483 -2.582)'%3E%3Cpath class='a' d='M.617,16.672h3.7v2.47a.618.618,0,0,0,.617.617h9.88a.618.618,0,0,0,.617-.617v-2.47h3.7a.618.618,0,0,0,.617-.617V6.175a.618.618,0,0,0-.617-.617h-3.7V.617A.618.618,0,0,0,14.82,0H4.94a.618.618,0,0,0-.617.617v4.94H.617A.618.618,0,0,0,0,6.175v9.88A.618.618,0,0,0,.617,16.672ZM14.2,18.525H5.557V12.35H14.2ZM5.557,1.235H14.2V5.557H5.557ZM1.235,6.792h17.29v8.645H15.437v-3.7a.618.618,0,0,0-.617-.617H4.94a.618.618,0,0,0-.617.617v3.7H1.235Z'/%3E%3Cpath class='a' d='M9,25.192a.6.6,0,0,0-.826,0A.576.576,0,0,0,8,25.605a.593.593,0,0,0,.173.416.586.586,0,0,0,1-.416A.576.576,0,0,0,9,25.192Z' transform='translate(-5.656 -17.274)'/%3E%3Cpath class='a' d='M14.586,26.19a.59.59,0,0,0,.586-.586A.593.593,0,0,0,15,25.188a.6.6,0,0,0-.826,0A.576.576,0,0,0,14,25.6a.593.593,0,0,0,.173.416A.585.585,0,0,0,14.586,26.19Z' transform='translate(-9.663 -17.273)'/%3E%3Cpath class='a' d='M26.446,44h-5.86a.586.586,0,1,0,0,1.172h5.86a.586.586,0,1,0,0-1.172Z' transform='translate(-13.636 -30.369)'/%3E%3Cpath class='a' d='M26.446,52h-5.86a.586.586,0,1,0,0,1.172h5.86a.586.586,0,1,0,0-1.172Z' transform='translate(-13.636 -35.756)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E";
$download: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.026' height='19.676' viewBox='0 0 17.026 19.676'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%236b6b6b;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-83.3 -58.424)'%3E%3Cg transform='translate(69 49.524)'%3E%3Cpath class='a' d='M25.855,33.1v.981h4.49V45.857H15.281V34.081h4.49V33.1H14.3V46.839H31.326V33.1Z' transform='translate(0 -18.263)'/%3E%3Cpath class='a' d='M33.6,20.627l3.778,3.778,3.778-3.778-.687-.687-2.6,2.6V8.9h-.981V22.54l-2.6-2.6Z' transform='translate(-14.565)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E";
$compartilhar: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.517' height='16.946' viewBox='0 0 15.517 16.946'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%236b6b6b;stroke-width:1.2px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='a' d='M11.45,5.615a2.841,2.841,0,0,0,2.867-2.808,2.868,2.868,0,0,0-5.734,0,2.759,2.759,0,0,0,.042.482L4.967,6.127a2.888,2.888,0,0,0-2.1-.9,2.808,2.808,0,1,0,0,5.615,2.887,2.887,0,0,0,2.106-.9L8.6,12.62a2.769,2.769,0,0,0-.019.319,2.868,2.868,0,1,0,2.867-2.808A2.874,2.874,0,0,0,8.825,11.81L5.427,9.3a2.752,2.752,0,0,0,0-2.534L8.892,4.075a2.877,2.877,0,0,0,2.558,1.54Z' transform='translate(0.6 0.6)'/%3E%3C/svg%3E";
$verde: #47C77D;

#barra-ferramentas-noticias {
    .links {
        display: flex;
        align-items: center;
        height: 100%;
        .sumario {
            display: none;
            height: 50px;
            @include make-col-ready(0);
            @include make-col(1);

            @include media-breakpoint-only(xs) {
                display: flex;
                align-items: center;
                justify-content: center;
                @include make-col(4);
            }

            .abrir-sumario {
                background-image: url($abrir_sumario);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 20px auto;
                border: none;
                height: 30px;
                width: 30px;
            }

        }

        .paginacao {
            button {
                background-color: #f2f1f1;
                border: none;
                padding: 0 20px;
                position: relative;
                height: 50px;
                color: $cinza;

                &::before,
                &::after {
                    content: "";
                    width: 10px;
                    height: 3px;
                    display: block;
                    border-radius: 2px;
                    position: absolute;
                    background-color: $verde;
                }

                &::before {
                    top: 42%;
                }

                &::after {
                    top: 54%;
                }

                .titulo {
                    @include media-breakpoint-down(lg) {
                        display: none;
                    }
                }
            }

            .anterior {
                &::before {
                    left: 0;
                    transform: rotate(-45deg);
                }

                &::after {
                    left: 0;
                    transform: rotate(45deg);
                }
            }

            .proximo {
                &::before {
                    right: 0;
                    transform: rotate(-135deg);
                }

                &::after {
                    right: 0;
                    transform: rotate(135deg);
                }
            }

            @include make-col-ready();
            @include make-col(3);

            @include media-breakpoint-only(xs) {
                display: none;
            }
        }

        .tempo-leitura {
            align-items: center;
            display: flex;
            justify-content: center;

            @include make-col-ready();
            @include make-col(6);

            @include media-breakpoint-only(xs) {
                display: none;
            }

        }

        .media {
            @include make-col-ready();
            @include make-col(1);
            display: flex;
            align-items: center;
            justify-content: center;

            .compartilhar {
                background-color: #f2f1f1;
                background-image: url($compartilhar);
                background-position: center;
                background-repeat: no-repeat;
                border: none;
                height: 20px;
                width: 20px;
            }

            .compartilhar-barra-ferramentas {
                max-width: 196px !important;
                width: 196px !important;
                padding: 5px;
                height: 50px;
                top: -10px !important;

                @include media-breakpoint-only(xs) {
                    left: -48px !important;
                    max-width: 214px !important;
                    width: 214px !important;    
                }
            }

            @include media-breakpoint-only(xs) {
                @include make-col(4);
            }
        }

        .eventos-pagina {

            button {
                border: none;
                background-position: center;
                background-repeat: no-repeat;
                height: 20px;
            }

            .imprimir {
                @include make-col-ready();
                @include make-col(6);
                background-image: url($imprimir);
                background-color: #f2f1f1;

                @include media-breakpoint-only(xs) {
                    display: none;
                }
            }

            .salvar {
                @include make-col-ready();
                @include make-col(6);
                background-image: url($download);
                background-color: #f2f1f1;

                @include media-breakpoint-only(xs) {
                    @include make-col(12);
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 70%;
                background-color: #ccc;
                left: 0;

                @include media-breakpoint-only(xs) {
                    display: none;
                }
            }

            @include make-col-ready();
            @include make-col(2);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            @include media-breakpoint-only(xs) {
                @include make-col(4);
            }
        }
    }

    .progress-container {
        background-color: #BDBDBD;
        height: 4px;
        width: 100%;
        position: absolute;
        bottom: 0;

        .progress-bar {
            background-color: $verde;
            height: 4px;
            width: 0%;
        }
    }


    @include make-col-ready(0);
    @include make-col(12);

    background-color: #F2F1F1;
    bottom: 0;
    color: $cinza;
    min-height: 50px;
    position: sticky;
    z-index: 9999;
}

#navbarSumario {
    font-family: "Merriweather", sans-serif;
    position: sticky;
    top: 0;

    
    @media only screen and (max-width: 1699px) {
        display: none;
    }
    
    @include media-breakpoint-only(xs) {
        position: relative;
        z-index: 9999;
        display: block;
    }

    &.fechar-mobile {

        @media only screen and (max-width: 1699px) {
            display: none;
        }

        @include media-breakpoint-only(xs) {
            display: none;
        }
    }

    .alinhar-sumario {
        position: absolute;
        left: -280px;
        width: 240px;

        @include media-breakpoint-only(xs) {
            background-color: #e6ecf0;
            border-radius: 5px;
            left: inherit;
            padding: 1rem;
            position: fixed;
            bottom: 55px;
            width: calc(100% - 30px);
        }

        .titulo {
            font-size: 1.3em;
            text-align: right;
            padding-left: 25px;
            font-weight: bold;

            @include media-breakpoint-only(xs) {
                font-size: 1.2em !important;
                text-align: left;
                padding-left: 35px;
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 10px;
                background-color: $verde;
            }

            &::before {
                height: 10px;
                border-radius: 25px;
                left: 15px;
                top: 18px;

                @include media-breakpoint-only(xs) {
                    left: 25px;
                    top: 28px;
                }
            }

            &::after {
                height: 3px;
                left: 2px;
                top: 22px;

                @include media-breakpoint-only(xs) {
                    left: 12px;
                    top: 32px;
                }
            }
        }

        .navbar-nav {
            text-align: right;

            @include media-breakpoint-only(xs) {
                text-align: left;
            }

            .nav-item {
                border-bottom: 1px solid #cbd3dc;

                &:last-child {
                    border-bottom: none;
                }

                .nav-link {
                    padding-bottom: 1rem;
                    padding-top: 1rem;

                    @include media-breakpoint-only(xs) {
                        padding-bottom: .5rem;
                        padding-top: .5rem;
                    }

                    &.ativo {

                        @include media-breakpoint-only(xs) {
                            background-color: #e3f0e9;
                            padding-left: 15px;

                        }

                        &:after {
                            @include media-breakpoint-only(xs) {
                                content: "Você está aqui";
                                background-color: #47c77d;
                                font-weight: bold;
                                font-size: .7em;
                                border-radius: 20px;
                                padding: .1rem 2rem;
                                margin-left: 20px;
                                white-space: nowrap;
                            }
                        }
                    }

                }
            }
        }
    }
}