.campaigns {
   @include elemento(card) {
    @include card; 
    padding: 10px;   
    border: 0.5px solid #E5E5E5;
  }  

  @include elemento(card-header) {
    @include responsive-font-size(26px);
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 8px;   
    color: $azul;
    font-weight: bold;
  }  

  @include elemento(card-img-top) {
    @include img-fluid;
    border-radius: 5px;
  }  

  @include elemento(card-body) {
    padding-top: 10px;
    padding-bottom: 10px;
  } 

  @include elemento(card-description) {    
    @include responsive-font-size(18px);
    color: #6B6B6B;
    font-family: $font-family;
    
  } 
}
.campaigns {  
  margin-top: 20px;  
  
  @include elemento(linha) {    
    border-radius: 10px;
    background-color: #FAFAFA;
    min-height: 350px;
  }

  @include elemento(cards) {
    @include make-col-ready();
    
    
    @include media-breakpoint-up(xs){
      @include make-col(12);
    }
    @include media-breakpoint-up(lg){
      @include make-col(12);
    }

    &-detail {      
      h5 {
        @include responsive-font-size(18px);        
        color: $azul;
        &::before {
          content: '';   
          display: inline-block;       
          width: 10px;
          height: 10px;
          background-color: $verde;
        }
      }
    }
  }

  @include elemento(card-columns) {
    @include card-columns;
    margin-top: 20px;
  } 
}

.campaigns {
  @include elemento(detail) {
    @include make-row(0);
    @include make-col-ready(0);
  
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }
  
    @include media-breakpoint-up(lg) {
      @include make-col(12);
    }

    margin-bottom: 50px;

    h2 {
      display: block;
      width: 100%;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  @include elemento(spot) {
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }

    display: flex;
    flex-direction: column;

    img {
      @include img-fluid;
      border-radius: 10px;
    }

    .muted-text {
      @include responsive-font-size(20px);
      color: #6B6B6B;
    }
  }
  
  @include elemento(tab) {
    @include make-col-ready();    
    @include media-breakpoint-up(xs) {
      margin-top: 20px;
      @include make-col(12);    
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0;
      @include make-col(6);    
    }
  }

  @include elemento(tabs) {  
    justify-content: space-between;
    border: 2px solid #707070;
    border-radius: 5px;
    margin-bottom: 10px;

    .nav-item {
      background-color: transparent;

      .nav-link {        
        border-radius: 5px;
        line-height: 1rem;
        
        &,
        &:hover {
          border: none;
          
        }

        &:hover,
        &.active {
          background-color: #47C77D;
        }
      }
    }
  }
  
  .tab-content {
    .btn {
      float: right;
    }
  }
}