$anim-speed: 0.3s;

@mixin shadowEffect {
  &::after {
    content: '';
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 50%;
    // opacity: .7;
    position: absolute;
    top: 50%;
    left: 0;

    // z-index: 2;
    // transition-property: top, opacity;
    // transition-duration: $anim-speed;
    &:hover {
      top: 100%;
    }
  }
}

.header-conteudo {
  @include make-col-ready();
  background-color: $branco;

  .noticia-titulo {
    color: $azul;
  }
}

.imprensa__conteudo {
  background-color: $branco;
  padding-bottom: 28px;

  @include media-breakpoint-only(xs) {
    padding-bottom: 0;
  }

  .titulo {
    padding-top: 15px;
    padding-left: 15px;
    @include titulo-noticias($azul);
    @include responsive-font-size(40px);

    @include media-breakpoint-only(xs) {
      display: none;
    }
  }
}

.imprensa__linha {
  @include media-breakpoint-only(xs) {
    margin-right: 0;
    margin-left: 0;
  }
}

.noticia-listagem {
  @include modificar(destaque) {
    @include make-row(0);
    width: 100%;

    @include media-breakpoint-only(xs) {
      padding-top: 15px;
    }
  }

  @include modificar(card) {
    @include make-col-ready();
    @include card;
    border: none;
    position: relative;

    @include media-breakpoint-up(xs) {
      @include make-col(12);

      &+.noticia-listagem_card {
        margin-top: 20px;
      }
    }

    @include media-breakpoint-up(lg) {
      @include make-col(6);

      &+.noticia-listagem_card {
        margin-top: 0;
      }
    }
  }

  @include modificar(card-img) {
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: $radius;
    @include shadowEffect;

    img {
      @include card-img;
      transform: scale(1);
      transition: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  @include modificar(card-img-overlay) {
    position: absolute;
    // top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 28px;
    transition: transform 0.3s;

    &:hover {
      transition: transform 0.2s;
    }

    .noticia-listagem_description {
      color: $branco;
      font-size: 1rem;
      font-family: $font-descriptions;
      max-height: 0;
      overflow: hidden;
      transition: max-height .2s ease-out;

      &.exibir {
        max-height: 200px;
        transition: max-height .2s ease-in;
      }

      .green-audio-player {
        background-color: rgba($color: #fff, $alpha: .9);
        padding: 0 .5em;
      }
    }
  }

  @include modificar(card-item) {
    padding: 15px;
    width: 100%;
    border-radius: $radius;
    height: 100%;      
    background-color: #fff;
  }

  @include modificar(badge) {
    text-transform: uppercase;
    margin-bottom: 5px;
    z-index: 2;

    @include media-breakpoint-only(xs) {
      position: relative;
      bottom: 0px;
    }
  }

  @include modificar(title) {
    @include media-breakpoint-up(xs) {
      margin-top: 0px;
    }

    @include media-breakpoint-up(md) {
      margin-top: 10px;
    }

    a {
      @include titulo-noticias;
      @include responsive-font-size(24px);


      @include media-breakpoint-up(md) {
        line-height: $line-height-base;
      }

      @include media-breakpoint-only(xs) {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }  

  @include modificar(card-item) { 
    .noticia-listagem_title a,
    .noticia-listagem_description {
      color: $cinza;
    }
  }
}

.noticias,
.noticia,
.principais-assuntos {
  &__linha {
    @include media-breakpoint-only(xs) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}