$azul: #1B305A;
$branco: #ffffff;
$bg-pagina: #E6ECF0;
$linhas: #c9d0da;

.conteudo {
  background-color: transparent;
}

#principais-assuntos {
  background-color: $bg-pagina;

  h2 {
    @include sub-titulo;
}

  .nav {
    background-color: $branco;
    border: 1px solid $azul;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    justify-content: space-around;
    flex: 100%;

    .nav-item {
      background-color: transparent;
      margin: 0;
      text-transform: uppercase;
      width: 25%;
      position: relative;

      &::after {
        content: '';
        width: 1px;
        height: 50px;
        background-color: $linhas;
        position: absolute;
        top: 6px;
        right: 0;

        @include media-breakpoint-down(xs) {
          display: none;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }

        .nav-link {
          margin-right: 0px;
        }
      }

      &:first-child {
        .nav-link {
          margin-left: 0px;
        }
      }

      .nav-link {
        line-height: 2.625rem;
        text-align: center;
        padding: 0.657rem .5rem;
        margin: 0 4px 0 3px;
        height: 100%;

        @include media-breakpoint-down(xs) {
          margin: 0;
        }

        &.active {
          border-radius: 5px;
          border: none;
        }

        &:hover {
          border-color: transparent;
        }


      }
    }
  }

  .conteudo-assuntos {
    display: flex;
    margin-top: 10px;

    @include media-breakpoint-down(xs) {
      display: block;
    }
  }

  .lista-assunto {
    .assuntos {
      display: flex;
      flex-wrap: wrap;

      .media {
        align-items: center;
        margin: .5em;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 5px;
        flex: 0 0 calc(50% - .7em);

        @include media-breakpoint-down(lg) {
          align-items: center;
          flex-direction: column;
          text-align: center;
        }

        @include media-breakpoint-down(xs) {
          flex: 0 0 calc(100%);
        }

        &:nth-child(odd) {
          margin-left: 0;
          margin-right: .7em;

          @include media-breakpoint-down(xs) {
            margin-right: 0;
          }
        }

        &:nth-child(even) {
          margin-left: .7em;
          margin-right: 0;

          @include media-breakpoint-down(xs) {
            margin-left: 0;
          }
        }

        .img {
          margin-right: .5em;
          width: 100%;
          height: 100%;
          max-width: 140px;
          max-height: 110px;
          border-radius: 5px;
          overflow: hidden;

          @include media-breakpoint-down(lg) {
            margin-right: 0;
            margin-bottom: 1em;
          }
        }

        .titulo {
          font-size: 1em;
        }
      }
    }
  }

  .banner-assunto {
    margin-left: 2em;
    margin-top: .5em;
    position: relative;

    @include media-breakpoint-down(xs) {
      margin-left: 0;
      text-align: center;
    }

    &::before {
      content: '';
      background-color: $linhas;
      display: block;
      left: -1em;
      height: 97%;
      position: absolute;
      top: 0;
      width: 1px;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }

    .img {
      border-radius: 5px;
      max-width: 186px;
      max-height: 530px;
    }
  }
}