#tv {
    margin-top: 10px;
    h2 {
        @include sub-titulo;
        padding: 0;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .tv__conteudo {
        background-color: #fff;
        border-radius: 5px;
        padding-bottom: 50px;
    }
    .tv__linha {
        @include make-col-ready(0); //iniciar a columa (antes da linha e __conteúdo)
        display: flex;
        .item-principal {
            @include make-col-ready();
            @include make-col(7);
            img {
                border-radius: 5px;
            }
            p {
                margin-left: 5px;
                font: normal normal bold 20px/28px Open Sans;
                color: $azul;
            }
            .icone-play {
                background-color: gold;
                color: gold
            }
        }
        .item-secundario {
            @include make-col-ready(0);
            @include make-col(5);
            display: flex;
            flex-direction: column;
            .item {
                padding-top: 5px;
                padding-bottom: 5px;
                &:nth-last-child(3) {
                    padding-top: 0;
                }
                img {
                    border-radius: 5px;
                }
                border-bottom: 1px solid #DCDCDC;
                display: flex;
                align-items: center;
                &:nth-last-child(1) {
                    border-bottom: none;
                }
                p {
                    margin-left: 5px;
                    font: normal normal bold 14px/19px Open Sans;
                    color: $azul;
                }
                &:before {
                    content: "\f16a";
                    font-family: "FontAwesome";
                    color: #FF0000;
                    font-size: 2rem;
                    width: 192px;
                    height: 123px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .programas-semanais__linha {
        @include make-col-ready();
        display: flex;
        .item-principal-1 {
            @include make-col-ready(0);
            @include make-col(4);
            display: flex;
            flex-direction: column;
            p {
                display: flex;
                align-items: baseline;
                // justify-content: baseline;
                padding: 15px;
                color: #fff;
            }
        }
        .item-secundario-1 {
            @include make-col-ready();
            @include make-col(8);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 5px;
                p {
                    margin-left: 5px;
                    font: normal normal 18px/25px Open Sans;
                    color: $azul;
                }
                &:nth-last-child(1) {
                    border-bottom: none;
                }
                a {
                    border: 1px solid greenyellow;
                    display: flex;
                    cursor: pointer;
                }
                &:before {
                    content: "\f16a";
                    font-family: "FontAwesome";
                    color: #FF0000;
                    font-size: 3rem;
                    width: 192px;
                    height: 123px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            button {
                padding: 8px 16px;
                font-size: 18px;
                color: $azul;
                background: none;
                border-radius: 5px;
                border: 1px solid $azul;
                transition: .6s ease;
                &:hover {
                    background-color: $azul;
                    color: #fff;
                }
            }
        }
        .item-principal-2 {
            @include make-col-ready(0);
            @include make-col(4);
            display: flex;
            flex-direction: column;
            background: #F4B601;
            border-radius: 5px;
            img {
                border-radius: 5px;
            }
            p {
                display: flex;
                align-items: baseline;
                // justify-content: baseline;
                padding: 15px;
                color: $azul;
            }
        }
        .item-secundario-2 {
            @include make-col-ready();
            @include make-col(8);
            display: flex;
            flex-direction: column;
            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                p {
                    margin-left: 5px;
                    font: normal normal 18px/25px Open Sans;
                    color: $azul;
                }
                &:nth-last-child(1) {
                    border-bottom: none;
                }
                &:before {
                    content: "\f16a";
                    font-family: "FontAwesome";
                    color: #FF0000;
                    font-size: 3rem;
                    width: 192px;
                    height: 123px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .item-principal-3 {
            @include make-col-ready(0);
            @include make-col(4);
            display: flex;
            flex-direction: column;
            background: #616C88;
            border-radius: 5px;
            img {
                border-radius: 5px;
            }
            p {
                display: flex;
                align-items: baseline;
                // justify-content: baseline;
                padding: 15px;
                color: #fff;
            }
        }
        .item-secundario-2 {
            @include make-col-ready();
            @include make-col(8);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                p {
                    margin-left: 5px;
                    font: normal normal 18px/25px Open Sans;
                    color: $azul;
                }
            }
            button {
                padding: 8px 16px;
                font-size: 18px;
                color: $azul;
                background: none;
                border-radius: 5px;
                border: 1px solid $azul;
                transition: .6s ease;
                &:hover {
                    background-color: $azul;
                    color: #fff;
                }
            }
        }
    }
}