#filtro-feedback {
    @include media-breakpoint-up(xs) {
        @include make-col(12);
    }

    @include media-breakpoint-up(sm) {
        @include make-col(12);
    }

    @include media-breakpoint-up(md) {
        @include make-col(12);
    }

    @include media-breakpoint-up(lg) {
        @include make-col(12);
    }

    color: $gray-light;
    padding-top: 40px;
    padding-bottom: 40px;

    //Celular
    @include media-breakpoint-only(xs) {
        margin-bottom: 30px;
    }

    .form-group {
        @include make-col-ready();

        @include media-breakpoint-up(xs) {
            @include make-col(12);
        }

        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }

        @include media-breakpoint-up(md) {
            @include make-col(4);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(3);
        }

        margin-bottom: 15px;

        label {
            @include make-col-ready();

            @include media-breakpoint-up(xs) {
                @include make-col(12);
            }

            @include media-breakpoint-up(sm) {
                @include make-col(5);
            }

            @include media-breakpoint-up(md) {
                @include make-col(5);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(5);
            }

            font-weight: normal;
            margin-top: 7px;
            padding-right: 10px;
            text-align: right;

            //Celular
            @include media-breakpoint-only(xs) {
                text-align: left;
            }
        }

        input {
            @include make-col-ready();

            @include media-breakpoint-up(xs) {
                @include make-col(12);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(7);
            }
        }
    }
}

#tabela-feedbacks {
    @include make-col-ready();

    @include media-breakpoint-up(lg) {
        @include make-col(12);
    }

    color: $gray-light;

    table {
        tr {
            th {
                background-color: #779977;
                border-bottom-width: inherit;
                color: $gray-lighter;
                font-size: 1.1em;
                padding-bottom: 20px;
                padding-top: 20px;
                text-align: center;
            }

            td {
                border-color: #2D627C;
                font-size: .9em;
                padding-bottom: 10px;
                padding-top: 10px;
                text-align: center;
            }
        }
    }
}