.acessibilidade {
  min-height: 35px;
  align-items: center;
  background-color: theme-color("azul");
  @include make-col-ready();

  @include media-breakpoint-only(xs) {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;

    a {
      font-size: 12px;
    }
  }

  .atalhos {
    @include media-breakpoint-up(xs) {
      @include make-col(12);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }

    a.acessibilidade__link {
      &:focus {
        &,
        & span {
          color: theme-color("branco") !important;
        }
      }
    }
  }

  .transparencia {
    @include make-col-ready();

    @include media-breakpoint-up(xs) {
      @include make-col(9);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(10);
    }

    @include modificar("link") {
      @extend .btn-link;
      @extend .btn-sm;
      font-size: 0.79rem;
      color: theme-color("branco");

      &:hover {
        color: theme-color("branco");
      }

      @include media-breakpoint-only(xs) {
        padding: 0.25rem 0.3rem;
      }
    }

    .nav {
      justify-content: flex-end;

      .nav-item {
        &::after {
          content: "|";
          float: right;
          color: $branco;
          margin-top: calc(5px - 5px);
        }

        &:last-child::after {
          display: none;
        }

        @include media-breakpoint-only(xs) {
          &:last-child::after {
            display: block;
          }
        }
      }
    }
  }

  @include modificar("no-language") {
    .transparencia {
      @include media-breakpoint-up(xs) {
        @include make-col(12);
      }
      @include media-breakpoint-up(lg) {
        @include make-col(12);
      }
    }
  }

  .idioma {
    @include make-col-ready();
    @include media-breakpoint-up(xs) {
      @include make-col(3);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(2);
    }

    .nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @include media-breakpoint-only(xs) {
        justify-content: flex-end;
      }

      .nav-item {
        @include media-breakpoint-only(xs) {
          min-width: 95px;
        }

        &::after {
          content: "|";
          float: left;
          color: $branco;
          margin-top: calc(5px - 5px);

          @include media-breakpoint-only(xs) {
            display: none;
          }
        }

        &:last-child::after {
          display: none;
        }
      }

      a {
        font-size: 12px;
        color: theme-color("branco");
        text-decoration: none;
        padding: 0 10px;

        transition: all 0.3s ease;

        &:hover {
          color: theme-color("branco");
        }
      }

      img {
        height: 26px;
        padding-right: 4px;
      }
    }
  }
}
