$arredondamento-input: 5px;
$cor-amarelo-padrao: $amarelo;
$cor-branco: $branco;
$cor-branco-padrao: $branco;
$cor-cinza: $cinza-claro;
$cor-cinza-padrao: $cinza;

$smile-pessimo: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65.427 65.427' enable-background='new 0 0 65.427 65.427'%3E%3Cg%3E%3Cpath fill='%23EDC951' d='M65.43 35.32c0 16.37-13.28 29.64-29.65 29.64-16.37 0-29.65-13.27-29.65-29.64S19.4 5.67 35.78 5.67c16.37 0 29.65 13.28 29.65 29.65z'/%3E%3Cpath fill='%2353ECF4' d='M26.02 14.88c.48 4.1-1.52 5.95-5.65 5.95s-5.9-1.86-5.34-5.95c.6-4.35 5.34-9.3 5.34-9.3s5.16 5.18 5.65 9.3z'/%3E%3Cpath d='M44.76 51.2c-.83 0-1.5-.67-1.5-1.5 0-4.63-3.72-8.25-8.46-8.25h-4.98c-4.83 0-8.47 3.46-8.47 8.04 0 .82-.67 1.5-1.5 1.5-.82 0-1.5-.68-1.5-1.5 0-6.2 5.04-11.05 11.47-11.05h4.98c6.43 0 11.46 4.94 11.46 11.25 0 .83-.67 1.5-1.5 1.5z'/%3E%3Cpath d='M15.74 19.55c-2.6 0-4.44-.66-5.62-2.02-1.14-1.3-1.55-3.2-1.2-5.64.66-4.78 5.53-9.92 5.73-10.14.28-.3.67-.45 1.07-.46.4 0 .8.16 1.08.44.57.57 5.54 5.68 6.07 10.18.28 2.38-.17 4.24-1.34 5.56-1.22 1.37-3.17 2.07-5.8 2.07zm.03-14.5c-1.34 1.63-3.52 4.63-3.9 7.26-.2 1.54-.03 2.63.5 3.26.58.66 1.7 1 3.37 1 1.73 0 2.92-.37 3.55-1.07.56-.66.77-1.74.6-3.23-.28-2.33-2.53-5.38-4.13-7.22z'/%3E%3Cpath d='M31.15 62.75C13.97 62.75 0 48.78 0 31.6c0-8.54 3.4-16.5 9.55-22.43.6-.58 1.55-.56 2.12.04.58.6.56 1.56-.04 2.13C6.06 16.7 3 23.9 3 31.6c0 15.53 12.63 28.16 28.15 28.16 15.52 0 28.14-12.63 28.14-28.15S46.66 3.48 31.14 3.48c-4.25 0-8.32.92-12.12 2.73-.75.36-1.64.04-2-.7-.36-.75-.04-1.65.7-2 4.2-2 8.72-3.03 13.42-3.03C48.32.47 62.3 14.44 62.3 31.6S48.3 62.76 31.14 62.76z'/%3E%3Cpath d='M24.37 28.84c-.38 0-.77-.15-1.06-.44-1.4-1.43-3.76-1.47-5.13-.1-.58.57-1.53.57-2.12 0-.58-.6-.58-1.55 0-2.13 2.5-2.52 6.8-2.47 9.38.1.6.6.6 1.54 0 2.13-.3.3-.68.44-1.06.44z'/%3E%3Cpath d='M44.77 28.84c-.38 0-.76-.15-1.06-.44-1.4-1.43-3.76-1.47-5.12-.1-.6.57-1.54.57-2.12 0-.6-.6-.6-1.55 0-2.13 2.5-2.52 6.8-2.47 9.38.1.58.6.58 1.54 0 2.13-.3.3-.68.44-1.07.44z'/%3E%3C/g%3E%3C/svg%3E";

$smile-ruim: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65.44 65.44' enable-background='new 0 0 65.44 65.44'%3E%3Cg%3E%3Cpath fill='%23EDC951' d='M65.44 34.88c0 16.62-13.47 30.1-30.1 30.1-16.6 0-30.08-13.48-30.08-30.1s13.47-30.1 30.1-30.1c16.6 0 30.08 13.48 30.08 30.1z'/%3E%3Cpath d='M45.65 23.77c0 2-1.63 3.64-3.64 3.64-2 0-3.63-1.62-3.63-3.63S40 20.14 42 20.14c2.02 0 3.65 1.63 3.65 3.63z'/%3E%3Cpath d='M24.72 23.77c0 2-1.63 3.64-3.64 3.64-2 0-3.64-1.62-3.64-3.63s1.63-3.63 3.64-3.63c2 0 3.64 1.63 3.64 3.63z'/%3E%3Cpath d='M19.2 50.98c-.82 0-1.5-.68-1.5-1.5 0-6.48 5.22-11.74 11.62-11.74h5.05c6.4 0 11.6 5.23 11.6 11.67 0 .84-.66 1.5-1.5 1.5-.8 0-1.5-.66-1.5-1.5 0-4.77-3.85-8.66-8.6-8.66h-5.05c-4.75 0-8.6 3.92-8.6 8.74 0 .83-.68 1.5-1.5 1.5z'/%3E%3Cpath d='M31.6 63.65C14.16 63.65 0 49.48 0 32.05 0 14.66 14.17.48 31.6.48c17.4 0 31.58 14.17 31.58 31.6 0 17.4-14.17 31.58-31.6 31.58zm0-60.18C15.8 3.47 3 16.3 3 32.07 3 47.8 15.82 60.64 31.6 60.64c15.75 0 28.58-12.83 28.58-28.6 0-15.75-12.83-28.58-28.6-28.58z'/%3E%3C/g%3E%3C/svg%3E";

$smile-normal: "data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64.5 64.5' enable-background='new 0 0 64.5 64.5'%3E%3Cg%3E%3Cpath fill='%23EDC951' d='M64.5 34.85c0 16.37-13.27 29.65-29.65 29.65C18.48 64.5 5.2 51.22 5.2 34.85 5.2 18.48 18.5 5.2 34.86 5.2 51.23 5.2 64.5 18.5 64.5 34.86z'/%3E%3Cpath d='M45.78 43.77h-28c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5h28c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5z'/%3E%3Cpath d='M45 22.98c0 2-1.6 3.6-3.6 3.6-1.97 0-3.58-1.6-3.58-3.6 0-1.98 1.6-3.58 3.6-3.58 1.97 0 3.58 1.6 3.58 3.58z'/%3E%3Cpath d='M24.38 22.98c0 2-1.6 3.6-3.6 3.6-1.97 0-3.58-1.6-3.58-3.6 0-1.98 1.6-3.58 3.6-3.58 1.97 0 3.58 1.6 3.58 3.58z'/%3E%3Cpath d='M31.15 62.3C13.97 62.3 0 48.3 0 31.14S13.97 0 31.15 0 62.3 13.98 62.3 31.15 48.3 62.3 31.14 62.3zm0-59.3C15.63 3 3 15.63 3 31.15S15.63 59.3 31.15 59.3c15.52 0 28.14-12.63 28.14-28.15S46.66 3 31.14 3z'/%3E%3C/g%3E%3C/svg%3E";

$smile-bom: "data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 65.441 65.441' enable-background='new 0 0 65.441 65.441'%3E%3Cg%3E%3Cpath fill='%23EDC951' d='M65.44 34.88c0 16.62-13.47 30.1-30.1 30.1S5.27 51.5 5.27 34.87 18.73 4.8 35.36 4.8s30.08 13.46 30.08 30.08z'/%3E%3Cpath d='M45.65 23.78c0 2-1.63 3.63-3.64 3.63-2 .02-3.63-1.6-3.63-3.62S40 20.14 42 20.14c2.02 0 3.65 1.63 3.65 3.64z'/%3E%3Cpath d='M24.72 23.78c0 2-1.63 3.63-3.64 3.63-2 .02-3.64-1.6-3.64-3.62s1.63-3.64 3.64-3.64c2 0 3.64 1.63 3.64 3.64z'/%3E%3Cpath d='M34.37 50.74h-5.05c-6.4 0-11.6-5.15-11.6-11.47 0-.83.66-1.5 1.5-1.5.82 0 1.5.67 1.5 1.5 0 4.75 3.77 8.47 8.6 8.47h5.05c4.83 0 8.62-3.66 8.62-8.33-.02-.82.66-1.5 1.48-1.5.83 0 1.5.68 1.5 1.5 0 6.36-5.1 11.34-11.6 11.34z'/%3E%3Cpath d='M31.6 63.65C14.16 63.65 0 49.48 0 32.05 0 14.66 14.17.5 31.6.5c17.4 0 31.58 14.16 31.58 31.58 0 17.42-14.17 31.6-31.6 31.6zm0-60.17C15.8 3.48 3 16.3 3 32.05c0 15.76 12.82 28.6 28.6 28.6 15.75 0 28.58-12.84 28.58-28.6 0-15.76-12.83-28.59-28.6-28.59z'/%3E%3C/g%3E%3C/svg%3E";

$smile-otimo: "data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 67.32 67.32' enable-background='new 0 0 67.32 67.32'%3E%3Cg%3E%3Cpath fill='%23EDC951' d='M67.32 35.82c0 16.62-13.47 30.1-30.1 30.1S7.15 52.43 7.15 35.8 20.6 5.73 37.24 5.73 67.3 19.2 67.3 35.84z'/%3E%3Cpath fill='%23E56A77' d='M52.9 22.02c-.95 0-1.82 1.17-2.53 1.7-.7-.53-1.58-1.7-2.52-1.7-2.34 0-4.24 1.9-4.24 4.23s6.07 9.25 6.77 8.73c.7.52 6.76-6.4 6.76-8.73s-1.9-4.23-4.23-4.23z'/%3E%3Cpath fill='%23E56A77' d='M28.8 22.02c-.94 0-1.8 1.17-2.52 1.7-.7-.53-1.58-1.7-2.52-1.7-2.34 0-4.24 1.9-4.24 4.23s6.06 9.25 6.76 8.73c.7.52 6.76-6.4 6.76-8.73s-1.9-4.23-4.23-4.23z'/%3E%3Cpath d='M34.37 52.23h-5.05c-6.5 0-11.6-5-11.6-11.4 0-.82.66-1.5 1.5-1.5.8 0 1.5.68 1.5 1.5 0 4.7 3.77 8.4 8.6 8.4h5.05c4.9 0 8.6-3.5 8.6-8.17 0-.83.68-1.5 1.5-1.5.84 0 1.5.67 1.5 1.5 0 6.26-5.1 11.17-11.6 11.17z'/%3E%3Cpath d='M44.84 33.68c-.04 0-.08 0-.1 0-.04 0-.08 0-.1 0-2.22 0-8.17-7.47-8.17-10.25 0-3.16 2.57-5.74 5.74-5.74 1.06 0 1.88.6 2.53 1.18.65-.58 1.47-1.2 2.52-1.2 3.17 0 5.74 2.6 5.74 5.75 0 1.74-1.8 4.3-3.28 6.16-3.27 4.05-4.44 4.08-4.88 4.08zm-2.7-13c-1.44 0-2.67 1.24-2.67 2.75.04 1.25 3.7 5.93 5.26 7.13 1.57-1.2 5.2-5.88 5.26-7.13 0-1.5-1.24-2.74-2.75-2.74-.13.04-.6.5-.85.72-.27.26-.53.5-.77.68-.54.4-1.26.4-1.8 0-.24-.18-.5-.42-.77-.68-.25-.23-.72-.68-.92-.73z'/%3E%3Cpath d='M20.75 33.68c-.04 0-.07 0-.1 0-.04 0-.07 0-.1 0-2.22 0-8.17-7.47-8.17-10.25 0-3.16 2.57-5.74 5.74-5.74 1.05 0 1.87.6 2.52 1.18.65-.58 1.48-1.2 2.52-1.2 3.17 0 5.74 2.6 5.74 5.75 0 1.74-1.78 4.3-3.27 6.16-3.27 4.05-4.44 4.08-4.88 4.08zm-2.7-13c-1.44 0-2.67 1.24-2.67 2.75.04 1.25 3.7 5.93 5.26 7.13 1.57-1.2 5.22-5.88 5.26-7.13 0-1.5-1.23-2.74-2.74-2.74-.13.04-.6.5-.85.72-.26.26-.52.5-.77.68-.53.4-1.25.4-1.8 0-.23-.18-.5-.42-.76-.68-.25-.23-.72-.68-.92-.73z'/%3E%3Cpath d='M31.6 64.6C14.16 64.6 0 50.4 0 33S14.17 1.4 31.6 1.4 63.17 15.6 63.17 33 49 64.6 31.58 64.6zm0-60.2C15.8 4.4 3 17.25 3 33c0 15.76 12.82 28.6 28.6 28.6S60.17 48.75 60.17 33c0-15.76-12.83-28.6-28.6-28.6z'/%3E%3C/g%3E%3C/svg%3E";

.servicos__modal,
.feedback__modal {

    @include media-breakpoint-up(lg) {
        .fade {
            &.show {

                .servicos__modal_show,
                .feedback__modal_show {
                    animation-name: modal-show;
                }
            }

            .servicos__modal_show,
            .feedback__modal_show {
                -webkit-animation-name: modal-show;
                -webkit-animation-duration: 1s;
                animation-name: modal-hide;
                animation-duration: 1s;
            }

        }

        @include modificar("show") {
            bottom: 0;
            left: auto;
            margin: 0;
            max-width: 100vw;
            position: fixed;
            right: auto;
            top: auto;
            width: 100vw;
        }

        @keyframes modal-show {
            0% {
                bottom: -50vh;
            }

            100% {
                bottom: 0;
            }
        }

        @keyframes modal-hide {
            0% {
                bottom: 0;
            }

            100% {
                bottom: -50vh;
            }
        }
    }

    @include modificar (head) {
        @include make-col(12);
        border-bottom-width: 2px;
        border-bottom-color: $cor-amarelo-padrao;
    }

    @include modificar (body) {
        @include make-col(12);

        @include media-breakpoint-up(lg) {
            /*max-height: 60vh;*/
            min-height: 40vh;
            overflow: auto;

            input,
            select {
                @include input-lg();
            }

            input[type=checkbox],
            input[type=radio] {
                height: auto;
            }

            button {
                @include button-lg();
            }

            /*.input-group {
                @include input-group-lg();
            }*/
        }
    }

    @include modificar (footer) {
        @include make-col(12);

        @include media-breakpoint-up(lg) {
            button {
                @include button-lg();
            }
        }
    }

    @include modificar (titulo) {
        @include titulo-modal();
    }

    @include modificar (sub-titulo) {

        font-size: 1.3em;
    }
}

.servicos__form {

    .captcha-portal {
        font-size: 1rem;
        a {
            font-size: 1rem;
        }
    }

    .padding-input {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .input-group {
        > .input-group-append {
            > .input-group-text {
                border-top-right-radius: $arredondamento-input;
                border-bottom-right-radius: $arredondamento-input;
            }
        }
    }

    .input-group {
        > .input-group-prepend {
            > .input-group-text {
                border-top-left-radius: $arredondamento-input;
                border-bottom-left-radius: $arredondamento-input;
            }
        }
    }

    .input-group-text {
        label {
            margin-bottom: 0;
            margin-left: .5rem;
        }

        background-color: $cor-branco-padrao;
    }

    .borda-redonda-grupo {
        > .form-control {
            &:first-of-type {
                border-top-left-radius: $arredondamento-input;
                border-bottom-left-radius: $arredondamento-input;
            }

            &:last-of-type {
                border-top-right-radius: $arredondamento-input;
                border-bottom-right-radius: $arredondamento-input;
            }
        }

    }

    @include modificar("bloco") {
        @include make-col(12);
    }

    @include media-breakpoint-down(xl) {
        @include modificar("uma-coluna") {
            @extend .padding-input;
            @include make-col(12);
        }

        @include modificar("duas-colunas") {
            @extend .padding-input;
            @include make-col(6);
        }

        @include modificar("tres-colunas") {
            @extend .padding-input;
            @include make-col(4);
        }

        @include modificar("quatro-colunas") {
            @extend .padding-input;
            @include make-col(3);
        }

        @include modificar("botao-float") {
            display: flex;
            align-items: baseline;
        }

    }

    @include media-breakpoint-down (md) {

        @include modificar("uma-coluna") {
            @include make-col(12);
        }

        @include modificar("duas-colunas") {
            @include make-col(12);
        }

        @include modificar("tres-colunas") {
            @include make-col(12);
        }

        @include modificar("quatro-colunas") {
            @include make-col(12);
        }

        @include modificar("botao-float") {
            @include make-col(12);
            display: block;
            padding-right: .5rem;
            text-align: right;
        }

        .sem-padding-xs {
            padding: 0;
        }
    }


    @include modificar("botao") {
        @include make-col(12);
        text-align: right;
    }



    @include modificar("radio") {
        display: flex;
        align-items: baseline;
        margin-top: .5rem;

        input[type="radio"] {
            margin-left: 1rem;
            margin-right: .5rem;
        }
    }

    .help-block {
        color: $cor-cinza;
        font-size: .8em;
    }

    .sem-padding {
        padding: 0;
    }

    input,
    select {
        border-radius: $arredondamento-input;
        background-color: $cor-branco;
    }

    label {
        &.error {
            font-family: 'Open Sans';
            font-weight: normal;
            color: #f90808;
            padding-left: 5px;
            width: 100%;
        }

        display: inline-block;
        margin-bottom: .5rem;
        order: 4;
        font-size: .85em;
    }

    input {

        &.error,
        &.error:focus {
            border: 1px solid #f90808 !important;
        }

        &.valid,
        &.valid:focus {
            border: 1px solid #28a745 !important;
        }
    }


}

.feedback__modal {
    @include modificar (radio) {
        label {
            &:nth-child(1) {
                background-image: url($smile-pessimo);
            }

            &:nth-child(2) {
                background-image: url($smile-ruim);
            }

            &:nth-child(3) {
                background-image: url($smile-normal);
            }

            &:nth-child(4) {
                background-image: url($smile-bom);
            }

            &:nth-child(5) {
                background-image: url($smile-otimo);
            }

            &.active {
                background-color: $cor-cinza;
                border-color: $cor-cinza-padrao;
                border-style: solid;
                border-width: 1px;
            }

            background-position: center;
            background-repeat: no-repeat;
            background-size: 50px 50px;
            height: 100px;
            width: 100px;
        }

        input[type=radio] {
            display: none;
        }


    }

    button[type="reset"] {
        margin-right: 5px;
    }

    .captcha-portal {
        margin-bottom: 20px;
    }

    #resp {
        font-size: 1.5em;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #navfeedback {
        .nav-item {
            .textarea-preenchido {
                background-color: $cinza;
                color: $theme-color-secundario;
                border-color: $theme-color-secundario;
            }
        }
    }
}